{% extends 'base.html.twig' %}



{% block body %}
    <h2 class="text-center">Création d'un lieu de sortie</h2>
    <div class="container mt-4 m-auto shadow-lg p-3 mb-5 bg-white rounded w-50">

        {{ form_start(lieuForm, {'attr': {'class': 'form'}}) }}

        <div class="form-group mb-4">
            {{ form_label(lieuForm.nom, 'Nom du lieu :', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(lieuForm.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group mb-4">
            {{ form_label(lieuForm.rue, 'Rue :', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(lieuForm.rue, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group mb-4">
            {{ form_label(lieuForm.latitude, 'Latitude :', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(lieuForm.latitude, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group mb-4">
            {{ form_label(lieuForm.longitude, 'Longitude :', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(lieuForm.longitude, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group mb-4">
            {{ form_label(lieuForm.ville, 'Ville :', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(lieuForm.ville, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer ce nouveau lieu</button>

        {{ form_end(lieuForm) }}
    </div>

{% endblock %}