{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <h2>{{ participant.pseudo }}</h2>
        <div>Prénom : {{ participant.prenom }}</div>
        <div>Nom : {{ participant.nom }}</div>
        <div>Télephone : {{ participant.telephone }}</div>
        <div>Campus : {{ participant.campus}}</div>
        <div><button>Retour</button></div>
        <div><button><a href="{{ path('participants_update', {'id': participant.id }) }}">Modifier</a></button></div>
    </div>

{% endblock %}