{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded w-50">
        <h2 class="mb-4">Annuler une sortie</h2>
        <form action="">
            <div class="form-group mb-3">
                <label for="nom" class="form-label">Nom de la sortie :</label>
                <input id="nom" type="text" class="form-control" value="{{ sortie.nom }}" readonly>
            </div>
            <div class="form-group mb-3">
                <label for="date" class="form-label">Date de la sortie :</label>
                <input id="date" type="text" class="form-control" value="{{ sortie.dateHeureDebut | date('d-m-Y') }}" readonly>
            </div>
            <div class="form-group mb-3">
                <label for="lieu" class="form-label">Campus :</label>
                <input id="lieu" type="text" class="form-control" value="{{ sortie.campus.nom | upper }}" readonly>
            </div>
            <div class="form-group mb-3">
                <label for="lieu" class="form-label">Campus :</label>
                <input id="lieu" type="text" class="form-control" value="{{ sortie.lieu.nom ~ " " ~ sortie.lieu.rue ~ " " ~ sortie.lieu.ville.codePostal ~ " " ~ sortie.lieu.ville.nom }}" readonly>
            </div>
        </form>
        <div class="form-group mb-3">
            {{ form_start(sortieAnnulationForm, {'attr': {'class': 'form-inline'}}) }}
            {{ form_widget(sortieAnnulationForm, {'attr': {'class': 'form-control'}}) }}
            {{ form_end(sortieAnnulationForm, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="d-flex justify-content-start">
            <a href="{{ path('sortie_liste') }}" class="btn btn-primary mx-2">Retour à la liste des sorties</a>
        </div>
    </div>
{% endblock %}
