 {% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <h2 class="mb-4 text-center">Création d'une sortie</h2>
    <div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded w-50">
        {{ form_start(sortieForm, {'attr': {'class': 'row g-3'}}) }}

        <div class="col-md-12">
            {{ form_widget(sortieForm) }}
        </div>

        <div class="col-md-12">
            <a href="{{ path('lieu_creation') }}" class="btn btn-link">Ajouter un autre lieu</a>
        </div>
        <div>

        </div>

        <div class="col-md-12">
            <a href="{{ path('sortie_liste') }}" class="btn btn-secondary">Annuler</a>
        </div>

        {{ form_end(sortieForm) }}
    </div>
{% endblock %}



