 {% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mb-4">Afficher une sortie</h2>
        <div class="row justify-content-around">
            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Détails de la sortie</h5>
                        <p class="card-text"><strong>Nom de la sortie:</strong> {{ sortie.nom }}</p>
                        <p class="card-text"><strong>Date et heure de la sortie:</strong> {{ sortie.dateHeureDebut | date("Y-m-d") }}</p>
                        <p class="card-text"><strong>Date limite d'inscription:</strong> {{ sortie.dateLimiteInscription | date("Y-m-d") }}</p>
                        <p class="card-text"><strong>Nombre de places:</strong> {{ sortie.nbInscriptionsMax }}</p>
                        <p class="card-text"><strong>Durée:</strong> {{ sortie.duree }} minutes</p>
                        <p class="card-text"><strong>Description et infos:</strong> {{ sortie.infosSortie | nl2br }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informations du lieu</h5>
                        <p class="card-text"><strong>Campus:</strong> {{ sortie.campus.nom }}</p>
                        <p class="card-text"><strong>Lieu:</strong> {{ sortie.lieu.nom }}</p>
                        <p class="card-text"><strong>Rue:</strong> {{ sortie.lieu.rue }}</p>
                        <p class="card-text"><strong>Code Postal:</strong> {{ sortie.lieu.ville.codePostal }}</p>
                        <p class="card-text"><strong>Latitude:</strong> {{ sortie.lieu.latitude }}</p>
                        <p class="card-text"><strong>Longitude:</strong> {{ sortie.lieu.longitude }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h3>Liste des participants inscrits</h3>
            {% if sortie.participants is not empty %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in sortie.participants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom }}</td>
                            <td>{{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucun participant inscrit pour cette sortie.</p>
            {% endif %}



        </div>

        <div class="mt-4">
            {% if sortie.dateHeureDebut > 'now'|date %}
                <a href="{{ path('sortie_desistement', {'id': sortie.id, 'idParticipant': app.user.id}) }}" class="btn btn-danger">Se désister</a>
            {% endif %}

            <a href="{{ path('sortie_liste') }}" class="btn btn-primary">Retour à la liste</a>
        </div>

    </div>
{% endblock %}