 {% extends 'base.html.twig' %}

{% block body %}
    <h2>Afficher une sortie</h2>
    <div class="row justify-content-around">
        <div class="col-4">
            <div>Nom de la sortie: {{ sortie.nom }}</div>
            <div>Date et heure de la sortie : {{ sortie.dateHeureDebut | date("Y-m-d") }}</div>
            <div>Date limit d'inscription : {{ sortie.dateLimiteInscription | date("Y-m-d")}}</div>
            <div>Nombre de places : {{ sortie.nbInscriptionsMax }}</div>
            <div>Durée : {{ sortie.duree }}</div>
            <div>Description et infos : {{ sortie.infosSortie | nl2br }}</div>
        </div>
        <div class="col-4">
            <div>Campus : <span>{{ sortie.campus.nom }}</span></div>
            <div>Lieu : <span>{{ sortie.lieu.nom }}</span></div>
            <div>Rue :  <span>{{ sortie.lieu.rue }}</span> </div>
            <div>Code Postal : <span>{{ sortie.lieu.ville.codePostal }}</span></div>
            <div>Latitude : <span>{{  sortie.lieu.latitude }}</span></div>
            <div>Longtitude : {{  sortie.lieu.longitude }}</div>
        </div>
    </div>

    <div>
        <h3>Liste des participants inscrits</h3>
        {% if sortie.participants is not empty %}
            <table class="table">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.prenom }}</td>
                        <td>{{ participant.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun participant inscrit pour cette sortie.</p>
        {% endif %}



    </div>

    <a href="{{ path('sortie_liste') }}">Retour à la liste des sorties</a>





{% endblock %}