{% block body %}

    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
{#            <th>Actions</th>#}
        </tr>

        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('d-m-Y H:i')}}</td>
                <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                <td>{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.participants | filter( participant => participant.pseudo == app.user.pseudo) | join('X')}}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
{#                <td>{{ ? : }}</td>#}
            </tr>
        {% endfor %}

    </table>
    <a href="{{ path('sortie_sortie_create') }}">Créer une sortie</a>

{% endblock %}

{% block title %}

{% endblock %}

