{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div>
        <p>Date du jour : {{ "now"|date("d/m/Y") }} </p>
        {% if app.user %}
            <p>Participant : {{ app.user.prenom }} {{ app.user.nom | first | upper }}. </p>
        {% endif %}
    </div>

    {# Partie haute de la page permettant de filtrer les sorties #}
    <h2>Filtrer les sorties</h2>
{#    <div>#}
{#        <label for="choixCampus">Choix du campus de la sortie</label>#}
{#        <select name="choixCampus" id="choixCampus">#}
{#            <option value="">les campus disponibles</option>#}
{#            {% for campus in campuses %}#}
{#                <option value="{{ campus.id }}">{{ campus.nom }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#    <div>#}
{#        <label for="choixNom">Le nom de la sortie contient: </label>#}
{#        <input id="choixNom" type="search">#}
{#    </div>#}
{#    <div>#}
{#        <label for="choixDateDebut">Entre: </label>#}
{#        <input id="choixDateDebut" type="date">#}

{#        <label for="choixDateFin">Entre: </label>#}
{#        <input id="choixDateFin" type="date">#}
{#    </div>#}
{#    <div>#}
{#        <label for="etreOrganisateur">Sorties dont je suis l'organisateur</label>#}
{#        <input type="checkbox" id="etreOrganisateur" value="etreOrganisateur">#}

{#        <label for="etreOrganisateur">Sorties auxquelles je suis inscrit/e</label>#}
{#        <input type="checkbox" id="etreOrganisateur" value="etreOrganisateur">#}

{#        <label for="etreOrganisateur">Sorties auxquelles je ne suis pas inscrit/e</label>#}
{#        <input type="checkbox" id="etreOrganisateur" value="etreOrganisateur">#}

{#        <label for="etreOrganisateur">Sorties passées</label>#}
{#        <input type="checkbox" id="etreOrganisateur" value="etreOrganisateur">#}
{#    </div>#}
{#    <div>#}
{#        <button>Rechercher</button>#}
{#    </div>#}

    {{ form_start() }}
    {{ form_widget() }}
    {{ form_end() }}

    {# Partie basse contenant la liste des sorties suivant les possibles filtres mis dans la partie haute #}
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>

        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('d-m-Y H:i')}}</td>
                <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                <td>{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.participants | filter( participant => participant.pseudo == app.user.pseudo) | join('X')}}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    {% if sortie.etat.libelle != 'historisée' or sortie.etat.libelle != 'Créée' %}
                        <a href="{{ path('app_afficher_sortie', {'id': sortie.id})  }}">afficher</a>
                    {% endif %}

                    {% if sortie.organisateur.pseudo == app.user.pseudo %}
                        <a href="{{ path('sortie_update', {'id': sortie.id})  }}">modifier</a>
                    {% endif %}

                    {% if sortie.organisateur.pseudo ==  app.user.pseudo and sortie.etat.libelle == 'Créée' %}
                        <a href="{{ path('sortie_publier', {'id': sortie.id})  }}">publier</a>
                    {% endif %}

                    {% if sortie.organisateur.pseudo ==  app.user.pseudo
                        and ( sortie.etat.libelle == 'Créée' or sortie.etat.libelle != 'Ouverte' or sortie.etat.libelle != 'Cloturée' ) %}
                        <a href="{{ path('sortie_annuler', {'id': sortie.id})  }}">annuler</a>
                    {% endif %}

                    {% if sortie.etat.libelle != 'Ouverte' and not (sortie.participants.contains(app.user.pseudo)) %}
                        {# autre option à tester pour vérifier si le participant est inscrit à la sortie :
                            and (filter( participant => participant.pseudo == app.user.pseudo)) is defined #}
{#                        <a href="{{ path('sortie_inscription', {'idSortie': sortie.id, 'idParticipant': app.user.id })  }}">S'inscrire</a>#}
                    {% endif %}

                    {% if (sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Cloturée') and not (sortie.participants.contains(app.user.pseudo)) %}
                        {# autre option à tester pour vérifier si le participant est inscrit à la sortie :
                            and (filter( participant => participant.pseudo == app.user.pseudo)) is defined
                            and not (sortie.participants.contains(app.user.pseudo))
                            app.user.pseudo not in sortie.participants
                        #}
{#                        <a href="{{ path('sortie_desistement', {'idSortie': sortie.id, 'idParticipant': app.user.id })  }}">Se désinscrire</a>#}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>
    <a href="{{ path('sortie_create') }}">Créer une sortie</a>

{% endblock %}
