{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div>
        <p>Date du jour : {{ "now"|date("d/m/Y") }} </p>
        {% if app.user %}
            <p>Participant : {{ app.user.prenom }} {{ app.user.nom | first | upper }}. </p>
        {% endif %}
    </div>

    <h2>Filtrer les sorties</h2>
    <div>
        <select name="" id=""></select>
    </div>

    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>

        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('d-m-Y H:i')}}</td>
                <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                <td>{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.participants | filter( participant => participant.pseudo == app.user.pseudo) | join('X')}}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    {% if sortie.etat.libelle != 'historisée' or sortie.etat.libelle != 'Créée' %}
                        <a href="{{ path('sortie_detail', {'id': sortie.id})  }}">Afficher</a>
                    {% endif %}

                    {% if sortie.organisateur.pseudo == app.user.pseudo %}
                        <a href="{{ path('sortie_update', {'id': sortie.id})  }}">Modifier</a>
                    {% endif %}

                    {% if sortie.organisateur.pseudo ==  app.user.pseudo and sortie.etat.libelle == 'Créée' %}
                        <a href="{{ path('sortie_publier', {'id': sortie.id})  }}">Publier</a>
                    {% endif %}

                    {% if sortie.organisateur.pseudo ==  app.user.pseudo
                        and ( sortie.etat.libelle == 'Créée' or sortie.etat.libelle != 'Ouverte' or sortie.etat.libelle != 'Cloturée' ) %}
                        <a href="{{ path('sortie_annuler', {'id': sortie.id})  }}">Annuler</a>
                    {% endif %}

{#                    {% if sortie.etat.libelle != 'Ouverte' and not (sortie.participants.contains(app.user.pseudo)) %}#}
{#                        #}{# autre option à tester pour vérifier si le participant est inscrit à la sortie :#}
{#                            and (filter( participant => participant.pseudo == app.user.pseudo)) is defined #}
{#                        <a href="{{ path('sortie_inscription', {'id': sortie.id, 'idParticipant': app.user.id })  }}">S'inscrire</a>#}
{#                    {% endif %}#}
                    <a href="{{ path('sortie_inscription', {'id': sortie.id, 'idParticipant': app.user.id })  }}">S'inscrire</a>


                    {#                    {% if (sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Cloturée') and not (sortie.participants.contains(app.user.pseudo)) %}#}
{#                        #}{# autre option à tester pour vérifier si le participant est inscrit à la sortie :#}
{#                            and (filter( participant => participant.pseudo == app.user.pseudo)) is defined#}
{#                            and not (sortie.participants.contains(app.user.pseudo))#}
{#                            app.user.pseudo not in sortie.participants#}
{#                        #}

{#                        <a href="{{ path('sortie_desistement', {'id': sortie.id, 'idParticipant': app.user.id })  }}">Se désinscrire</a>#}
{#                    {% endif %}#}
                    <a href="{{ path('sortie_desistement', {'id': sortie.id, 'idParticipant': app.user.id })  }}">Se désinscrire</a>

                </td>
            </tr>
        {% endfor %}

    </table>
    <a href="{{ path('sortie_create') }}">Créer une sortie</a>

{% endblock %}
